@font-face {
    font-family: 'Literature-Decor';
    src: url('lit-dec.ttf');
}

@font-face {
    font-family: 'SF-Pro-Text';
    src: url('SF-Pro-Text-Regular.otf');
}

body {
    margin: 0;
    background-color: #FFFCF2;
}
.header {
    background-color: #FFFCF2;
    width:100%;
    height:100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.headbut {
    font-family: 'SF-Pro-Text';
    font-size: 15px;
    background-color: #FFFCF2;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}

.logo {
    width:75px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.mainpic {
    text-shadow: 0px 0px 10px black;
    font-family: 'Literature-Decor';
    font-size: 60px;
    color: #FFFCF2;

    box-shadow: inset 0 5px 5px rgba(0,0,0,0.3);
    background-image: url('mainpic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    aspect-ratio: 4/1;

    display: flex;
    align-items: center;
    justify-content: center;
}


.headbut::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.3s ease;
}

.headbut:hover::after {
  width: 100%;
}


.logo {
    transition: scale 0.3s ease;
    scale: 1;
}

.logo:hover {
    transition: scale 0.3s ease;
    scale: 0.95;
}