@font-face {
    font-family: 'Literature-Decor';
    src: url('lit-dec.ttf');
}

@font-face {
    font-family: 'Vercetti-Regular';
    src: url('Vercetti-Regular.ttf');
}

body {
    margin: 0;
    background-color: #FFFCF2;
}
.header {
    box-shadow: 0 5px 5px rgba(0,0,0,.3);
    position: sticky;
    top: 0;
    background-color: #FFFCF2;
    width:100%;
    height:100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.header button {
    font-family: 'Vercetti-Regular';
    font-size: 15px;
    background-color: #FFFCF2;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}

.logo {
    width:75px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.mainpic {
    text-shadow: 0px 0px 10px black;
    font-family: 'Literature-Decor';
    font-size: 60px;
    color: #FFFCF2;

    box-shadow: inset 0 5px 5px rgba(0,0,0,0.3);
    background-image: url('membership.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: rgb(89, 93, 96);

    width: 100%;
    aspect-ratio: 5/1;

    display: flex;
    align-items: center;
    justify-content: center;

}


.header button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.3s ease;
}

.header button:hover::after {
  width: 100%;
}

.first {
    margin-top: 0px;
}

.mainbox {
    font-size: 20px;
    font-family: 'Vercetti-Regular';
    margin: 50px;
    

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 25px;
}

.nav {

    border: solid 2px rgb(165, 168, 171);
}

.text {

    border: solid 2px rgb(165, 168, 171);
}

html {
    scroll-behavior: smooth;
}

ol {
    list-style: none;
}

ul {
    align-self: flex-start;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul li {
    transition: font-size 0.3s ease;
    font-size: 20px;
}

ul li:hover {
    cursor:pointer;
    transition: font-size 0.3s ease;
    font-size: 23px;
}

.logo {
    transition: scale 0.3s ease;
    scale: 1;
}

.logo:hover {
    transition: scale 0.3s ease;
    scale: 0.95;
}

li {
    margin: 0;
    padding: 0;
}